



<div id="masthead" class="lg:bg-cover bg-no-repeat relative">


    <div class="float-right mt-8 mr-2 lg:hidden" id="mobile-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" fill="none" viewBox="0 0 24 24" stroke="#fff">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </div>

    <div class=" py-4">


            <div class="flex-shrink-0 flex mr-2 ">
                {{ asset url="/assets/logos/logo-text.png" }}
                <a href="/">

                    <img class="block lg:hidden h-20 w-auto" src="{{ url }}" alt="{{ alt }}">
                    <img class="hidden lg:block h-44 mb-20 w-auto" src="{{ url }}" alt="{{ alt }}">
                </a>
                {{ /asset }}



            </div>

    </div>







</div>

<nav id="mobile-nav" class="hidden absolute p-4 flex flex-col lg:hidden w-full bg bg-secondary mx-auto space-y-2">


    {{ nav:main_nav }}

    <a href="{{ url }}" class=" flex-grow text-white  text-lg font-bold text-center hover:text-brand">
        {{ title }}
    </a>
    {{ /nav:main_nav }}


</nav>






<div class="text-primary text-center p-3">



    <span class="font-bold px-1 tracking-wide text-sm lg:text-lg inline">
        Bringing the Community Back to Healthcare
    </span>
    <br class="lg:hidden">
    <span class="px-1 italic inline text-sm ">
        Your One‐Stop Resource for <br class="lg:hidden">All Things Medical In Las Vegas!
    </span>




</div>



<div class=" mx-auto lg:py-2  border-b  border-gray">


    <div class="container mx-auto px-2 lg:px-0 ">


        <nav class="hidden lg:flex flex-col lg:flex-row divide-x-2 w-3/5 mx-auto">


            {{ nav:main_nav }}

            <a href="{{ url }}" class=" flex-grow text-primary  font-bold text-center hover:text-brand">
                {{ title }}
            </a>
            {{ /nav:main_nav }}


        </nav>





    </div>
</div>
