<div class="text-brand text-center p-4" style="background-color: #f6f4e9">

    <span class="font-bold px-1 tracking-wide text-lg® inline">
        Bringing the Community Back to Healthcare
    </span>
    <span class="px-1 italic inline">
        Your One‐Stop Resource for All Things Medical In Las Vegas!
    </span>


</div>


<div id="masthead" class="bg-center relative">
    <div class=" py-4">


        <div class="flex-shrink-0 flex mr-2 ">
            {{ asset url="/assets/logos/logo-text.png" }}
            <a href="/">

                <img class="block lg:hidden h-8 w-auto" src="{{ url }}" alt="{{ alt }}">
                <img class="hidden lg:block h-44 mb-20 w-auto" src="{{ url }}" alt="{{ alt }}">
            </a>
            {{ /asset }}

        </div>

    </div>
</div>
