/* This is all you. */


.theme-default {
    --color-primary: #c60001;
    --color-logo: #c60001;

    --color-secondary: #44467b;
    --color-heading: #c60001;
    --color-background-dark: #d1d5da;
    --color-background-light: #fff;

}

.theme-blue {
    --color-logo: #2E78CB;
    --color-primary: #2E78CB;
    --color-secondary: #FFCF29;
    --color-heading: #fff;

    --color-background-dark: #79ABE2;
    --color-background-light: #fff;



}
.theme-blue2 {
    --color-logo: #1e98a2;
    --color-primary: #a4cf4b;
    --color-secondary: #FFCF29;
    --color-heading: #fff;

    --color-background-dark: #1e98a2;
    --color-background-light: #fff;



}


.theme-green {
    --color-logo: #277A27;
    --color-primary: #277A27;
    --color-secondary: #277A27;
    --color-heading: #fff;

    --color-background-dark: #518686;
    --color-background-light: #fff;



}


.sponsored{
    @apply ring ring-secondary ring-offset-4 ;
}


.ais-SearchBox-input{
    @apply w-3/4;
}

.marker{
    background: #fff;
}

.provider-card{
    .description p{
        @apply mb-2;
    }

    .provider-actions a:hover svg{
        @apply text-primary;
    }

}




