/* This is all you. */


.theme-old {
    --color-primary: #00458b;
    --color-brand: #c60000;

    --color-secondary: #00458b;
    --color-heading: #4a4b46;


    /*--color-background-light: #989bc3;*/
    /*--color-background-dark: #45568c;*/

    --color-background-light: #e6eaf5;
    --color-background-dark: #8198cc;



#masthead{

    background-image: url("/assets/background/masthead.jpeg");
}


}





.theme-test1 {
    --color-primary: #00458B;
    --color-brand: #c60000;

    --color-secondary: #00458B;
    --color-heading: #4a4b46;


    /*--color-background-light: #989bc3;*/
    /*--color-background-dark: #45568c;*/

    --color-background-light: #c6d1e8;
    --color-background-dark: #8198cc;


#masthead{

    background-image: url("/assets/background/masthead-1.jpg");
}


}



.theme-test2 {
    --color-primary: #00458B;
    --color-brand: #c60000;

    --color-secondary: #00458B;
    --color-heading: #0b1d3c;


    /*--color-background-light: #989bc3;*/
    /*--color-background-dark: #45568c;*/

    --color-background-light: #fee3c5;
    --color-background-dark: #1866f0;


#masthead{

    background-image: url("/assets/background/masthead-2.jpeg");
}


}


.theme-default {
    --color-primary: #00458B;
    --color-brand: #c60000;

    --color-secondary: #00458B;
    --color-heading: #0b1d3c;


    /*--color-background-light: #989bc3;*/
    /*--color-background-dark: #45568c;*/

    --color-background-light: #fee3c5;
    --color-background-dark: #1866f0;


#masthead{

    background-image: url("/assets/background/masthead.jpeg");
}


}



.theme-blue2 {
    --color-logo: #1e98a2;
    --color-primary: #a4cf4b;
    --color-secondary: #FFCF29;
    --color-heading: #fff;

    --color-background-dark: #1e98a2;
    --color-background-light: #fff;



}


.theme-green {
    --color-logo: #277A27;
    --color-primary: #277A27;
    --color-secondary: #277A27;
    --color-heading: #fff;

    --color-background-dark: #518686;
    --color-background-light: #fff;



}




.service-category{
    @apply justify-center items-center m-4 border-2 border-brand bg-white px-1 py-2 shadow-sm  space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-brand text-center hover:border-red-400;
    @apply rounded-full;

    &.active{
        @apply rounded-3xl;
         position: absolute;
         width: 90%;
         z-index: 1000;

    }
}

.sponsored{
    @apply ring ring-secondary ring-offset-4 ;
}


.ais-SearchBox-input{
    @apply w-3/4;
}

.marker{
    background: #fff;
}

.provider-card{
    .description p{
        @apply mb-2;
    }

    .provider-actions a:hover svg{
        @apply text-primary;
    }

}


.modal {
    transition: opacity 0.25s ease;
}

.video-modal{
    max-width: 720px;
}

.gallery-modal{
    max-width: 800px;
    text-align: center;

    .slick-prev, .slick-next{
        height: 40px;
        width: 40px;

    }

    .slick-prev:before, .slick-next:before{
        color: #000;
        font-size: 40px;

    }

    .slick-active img{
        margin: auto;
    }


}




#search-hero{


}

